.header {
  background-color: #242938;

  --size: 50px;

  .gradient {
    background-image: linear-gradient(
      0deg,
      hsl(0deg 0% 100%) 0%,
      hsl(229deg 5% 96%) 5%,
      hsl(229deg 5% 91%) 10%,
      hsl(229deg 5% 87%) 14%,
      hsl(229deg 5% 83%) 19%,
      hsl(229deg 5% 79%) 24%,
      hsl(229deg 5% 74%) 29%,
      hsl(229deg 5% 70%) 33%,
      hsl(229deg 5% 66%) 38%,
      hsl(229deg 5% 62%) 43%,
      hsl(228deg 5% 58%) 48%,
      hsl(228deg 5% 54%) 52%,
      hsl(228deg 5% 50%) 57%,
      hsl(228deg 6% 47%) 62%,
      hsl(228deg 7% 43%) 67%,
      hsl(228deg 8% 39%) 71%,
      hsl(227deg 9% 35%) 76%,
      hsl(227deg 11% 32%) 81%,
      hsl(227deg 12% 28%) 86%,
      hsl(226deg 15% 25%) 90%,
      hsl(226deg 18% 21%) 95%,
      hsl(225deg 22% 18%) 100%
    );
  }
}
